body{
    font-family: Avenir;
}

.header{
    background: white;
    border: 1px solid #d9d9d9;
}

.logo{
    width: 150px;
    height: 100px;
    margin-left: 20px;
    margin-right: 6em;
}

.suche{
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    float: right;
    margin-top: 30px;
    margin-right: 5px;
}

input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border-radius: inherit;
}

input[type="search"]::placeholder {
    color: #bbb;
}

button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

button[type="submit"]:hover {
    opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
    box-shadow: darkslategray;
    border-color: darkslategray;
    outline: none;
}

.navigation{

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.container{
    display: flex;
    align-items: flex-start;
}

.content{
    text-align: justify;
    margin-top: 10px;
    margin-left: 10px;
    min-width: 1000px;

}

.formular{
    background-color: #f5f5f5;
    width: 700px;
    padding: 20px;
    border: 1px solid #d9d9d9;
    margin-left: 10px;
    margin-bottom: 30px;
}

label {
    cursor: pointer;
}

input#absender, textarea {
    width: 300px;
    border: 1px solid #8c8c8c;
    margin-bottom: 1em;
}
textarea {
    height: 7em;
}
input:focus, textarea:focus {
    background-color: #d9d9d9;
}

.seiten-content{
    background: #cdb79e;
    text-align: justify;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 60px;

}

.accordion {
    background-color: #cdb79e;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion:hover {
    background-color: #cdaf95;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.footer{
    background-color: #333;
    text-align: center;

}

.a{
    color: #d9d9d9;
    margin-right: 15px;
}

.b{
    color: #d9d9d9;
    margin-right: 15px;
}

.c{
    color: #d9d9d9;
}

.d{
    color: #d9d9d9;
}


